<div class="outside-box">
    <div class="this-month row">
        <h3 class="this-month">Featured In April 2015</h3>
        <div class="one-third column clearfix alpha">
          <a href="/pages/hale-coffee"><img class="this-month-img" src="https://cdn.shopify.com/s/files/1/0330/7333/files/hale-web.png?1470054352848846706"></a>
          <a href="/pages/hale-coffee"><h3 class="coffee-title">Hale Coffee Roasters - Colombia Huila</h3></a>
            <p id="quote">“The coffee has a subtle fruitiness to it that underlies the traditional chocolate base when brewing on Chemex. On Espresso, the flavours were incredible, an instant tang on your tongue might shock the system, but a gradual sweet honey develops, leaving you wanting more and wondering how a perfectly frothed milk will go with it.”
</p>
            <p class="this-month-roaster">- Khaled Rayyan,
</p>
            <p class="this-month-roaster">Coffee Roaster</p>
            <div class="flavour-swatches swatch-row clearfix">
<!--                 <div class="swatch milk-chocolate"><p class="swatch">Chocolate</p></div> -->
                <div class="swatch honey"><p class="swatch">Honey</p></div>
                <div class="swatch cinnamon"><p class="swatch">Cinnamon</p></div>
                <div class="swatch citrus"><p class="swatch">Citrus</p></div>

            </div>
        </div>
        <div class="one-third column clearfix">
         	<a href="/pages/detour"><img class="this-month-img" src="https://cdn.shopify.com/s/files/1/0330/7333/files/d-web.png?1470054352848846706"></a>
            <a href="/pages/detour"><h3 class="coffee-title">Detour Coffee Roasters - Kivu Kibuye</h3></a>
            <p id="quote">"This coffee is super fun, complex and interesting. As it cools loads of mandarin orange, cherry and peach come forward with milk chocolate and black tea."</p>
            <p class="this-month-roaster">- Geoff Woodley,</p>
            <p class="this-month-roaster">Lead Roaster &amp; Green Buyer</p>
            <div class="flavour-swatches swatch-row clearfix">
                <div class="swatch mandarin-orange"><p class="swatch">Mandarin Orange</p></div>
                <div class="swatch milk-chocolate"><p class="swatch">Milk Chocolate</p></div>
                <div class="swatch black-tea"><p class="swatch">Black Tea</p></div>
            </div>
        </div>
        <div class="one-third column clearfix omega">
            <a href="/pages/bows-and-arrows"><img class="this-month-img" src="https://cdn.shopify.com/s/files/1/0330/7333/files/ba-web.png?1942455342416964640"></a>
            <a href="/pages/bows-and-arrows"><h3 class="coffee-title">Bows &amp; Arrows Coffee Roasters - Noel Miranda</h3></a>
            <p id="quote">“Noel Miranda’s coffee is very sweet, with a caramelized sugar and cassia aroma; low acidity and pleasant texture, a lingering sweetness. Friends and family, really everyone who lives on your street, will enjoy this coffee. Also did I mention its ridiculously sweet.” </p>
            <p class="this-month-roaster">- Amara Sao,</p>
            <p class="this-month-roaster">Cafe Manager</p>
            <div class="flavour-swatches swatch-row clearfix">
                <div class="swatch shortbread"><p class="swatch">Shortbread</p></div>
                <div class="swatch plum"><p class="swatch">Plum</p></div>
                <div class="swatch gulab-jamun"><p class="swatch">Gulab Jamun</p></div>
            </div>
        </div>
    </div>
  <div class="row">
	<h3 class="center"><a href="http://theroasterspack.com/pages/subscribe-to-the-roasters-pack">Get Started for $26.95 / Month</a></h3>
	<p class="center"><a class="button" href="http://theroasterspack.com/pages/subscribe-to-the-roasters-pack" title="Subscribe">Subscribe</a></p>  
	</div>
</div>
