<div class="outside-box">
    <div class="this-month row">
        <h3 class="this-month">Featured In August 2015</h3>
        <div class="one-third column clearfix alpha">
          <a href="/pages/matchstick-coffee"><img class="this-month-img" src="{{ 'august-2015-01.png' | asset_url }}"></a>
          <a href="/pages/matchstick-coffee"><h3 class="coffee-title">Matchstick Coffee Roasters <br><strong>Catalogue #20</strong>
</h3></a>
            <p id="quote">"Another lovely coffee by Aurelio Villatoro and his crew, with peanut butter, black currant and soft caramel flavours that come out beautifully vibrant when brewed as espresso, and make for a smooth and juicy cup brewed on drip."</p>
            <p class="this-month-roaster">- Ayla Harker,
</p>
            <p class="this-month-roaster">Lead Trainer</p>
            <div class="flavour-swatches swatch-row clearfix">
                <div class="swatch peanut-butter"><p class="swatch">Peanut Butter</p></div>
                <div class="swatch dark-chocolate"><p class="swatch">Dark Chocolate</p></div>
                <div class="swatch caramel"><p class="swatch">Soft Caramel</p></div>
            </div>
        </div>
        <div class="one-third column clearfix alpha">
          	<a href="/pages/bows-and-arrows"><img class="this-month-img" src="{{ 'august-2015-02.png' | asset_url }}"></a>
            <a href="/pages/bows-and-arrows"><h3 class="coffee-title">Bows &amp; Arrows Coffee Roasters<br><strong>Finca El Tol&uacute;</strong></h3></a>
            <p id="quote">"This seasons coffee is really pretty and delicate, but still super easy to work with. It’s great brewed as filter, and really shines as espresso. Lots of deep fruit flavours in this harvest and its sweet like a dessert, it reminds us of chocolate cake, marzipan and dried fruit leather.”</p>
            <p class="this-month-roaster">- Rob Freitas,</p>
            <p class="this-month-roaster">Wholesale Manager</p>
            <div class="flavour-swatches swatch-row clearfix">
                <div class="swatch creamy-chocolate"><p class="swatch">Chocolate Cake</p></div>
                <div class="swatch marzipan"><p class="swatch">Marzipan</p></div>
                <div class="swatch fruit-leather"><p class="swatch">Fruit Leather</p></div>
            </div>
        </div>
        <div class="one-third column clearfix omega">
            <a href="/pages/de-mello-palheta"><img class="this-month-img" src="{{ 'august-2015-03.png' | asset_url }}"></a>
            <a href="/pages/de-mello-palheta"><h3 class="coffee-title">De Mello Palheta Coffee Roasters<br><strong>Ethiopia YirgZ</strong></h3></a>
            <p id="quote">"This Ethiopia Yirg Z (Zero Defect Sorting), is one that takes 3 times longer to be sorted than other coffees from the region. This results in a super clean cup with notes of oolong tea, peach acidity, mango sweetness and mint chocolate."</p>
            <p class="this-month-roaster">- Felix Cha,</p>
            <p class="this-month-roaster">Lead Roaster</p>
            <div class="flavour-swatches swatch-row clearfix">
                <div class="swatch black-tea"><p class="swatch">Oolong Tea</p></div>
                <div class="swatch mango"><p class="swatch">Mango</p></div>
                <div class="swatch mint-chocolate"><p class="swatch">Mint Chocolate</p></div>
            </div>
        </div>
    </div>
  <div class="row">
	<h3 class="center"><a href="http://theroasterspack.com/products/subscribe">Get Started for $26.95 / Month</a></h3>
	<p class="center"><a class="button" href="http://theroasterspack.com/pages/subscribe-to-the-roasters-pack" title="Subscribe">Subscribe</a></p>  
</div>
</div>