<div class="sidebar four columns">
  <h4 class="toggle"><span>+</span><a href="#the-pack">The Pack</a></h4>
    <ul class="blog_list toggle_list">
      <li><a href="#contents">Contents</a></li>
    </ul>
  
  <h4 class="toggle"><span>+</span><a href="#subscriptions">Subscriptions</a></h4>
  
  <h4 class="toggle"><span>+</span><a href="#contact">Contact</a></h4>
  <ul class="blog_list toggle_list">
    <li><a href="#customer-service">Customer Service</a></li>
    <li><a href="#returns">Returns</a></li>
  </ul>
  
  <h4 class="toggle"><span>+</span><a href="#shipping">Shipping</a></h4>
    <ul class="blog_list toggle_list">
      <li><a href="#free-shipping">Free Shipping</a></li>
      <li><a href="#delivery-standards">Delivery Standards</a></li>
    </ul>
  
  <h4 class="toggle"><span>+</span><a href="#return-policy">Return Policy</a></h4>

  <h4 class="toggle"><span>+</span><a href="#privacy-policy">Privacy Policy</a></h4>
  
  <h4 class="toggle"><span>+</span><a href="#terms-of-service">Terms of Service</a></h4>
  
</div>