<div class="outside-box">
    <div class="this-month row">
        <h3 class="this-month">Featured In December 2015</h3>
        <div class="one-third column clearfix alpha">
          <a href="/pages/detour"><img class="this-month-img" src="{{ 'december-2015-01.png' | asset_url }}"></a>
          <a href="/pages/detour"><h3 class="coffee-title">Detour Coffee Roasters <br><strong>Holiday Blend</strong>
</h3></a>
            <p id="quote">"This blend is warm and inviting with notes of ginger spice cake, nougat and spice. The Ethiopian adds a nice sweet baking spice base, the Kenyan adds in the fruity and perky acidity and the Mexican coffee gives it great body and rounds everything out."</p>
            <p class="this-month-roaster">- Geoff Woodley,
</p>
            <p class="this-month-roaster">Lead Roaster and Green Buyer</p>
            <div class="flavour-swatches swatch-row clearfix">
                <div class="swatch ginger-rum-cake"><p class="swatch">Ginger Rum Cake</p></div>
                <div class="swatch noughat"><p class="swatch">Noughat</p></div>
                <div class="swatch clove"><p class="swatch">Spice</p></div>
            </div>
        </div>
        <div class="one-third column clearfix alpha">
          	<a href="/pages/elysian"><img class="this-month-img" src="{{ 'december-2015-02.png' | asset_url }}"></a>
            <a href="/pages/elysian"><h3 class="coffee-title">Elysian Coffee Roasters<br><strong>Finca Alejandrina</strong></h3></a>
            <p id="quote">"Classic cup with some lovely dried fruit character. The kind of coffee you’d everyone in the family can enjoy over the holiday season!"</p>
            <p class="this-month-roaster">- Christopher Rogers,</p>
            <p class="this-month-roaster">Quality Control &amp; Roasting</p>
            <div class="flavour-swatches swatch-row clearfix">
                <div class="swatch cocoa"><p class="swatch">Cacao</p></div>
                <div class="swatch hazelnut"><p class="swatch">Hazelnut</p></div>
                <div class="swatch dried-plum"><p class="swatch">Dried Plum</p></div>
            </div>
        </div>
        <div class="one-third column clearfix omega">
            <a href="/pages/bows-and-arrows"><img class="this-month-img" src="{{ 'december-2015-03.png' | asset_url }}"></a>
            <a href="/pages/bows-and-arrows"><h3 class="coffee-title">Bows & Arrows Coffee Roasters<br><strong>Konga</strong></h3></a>
            <p id="quote">"Look for notes of bergamot, berries and mild citrus. It’s balanced, which makes this coffee very, very good as espresso; super easy to work with. Enjoy it as a pour-over but if you can get access to an espresso machine, look out!"</p>
            <p class="this-month-roaster">- Tad Ruszel,</p>
            <p class="this-month-roaster">Head Roaster</p>
            <div class="flavour-swatches swatch-row clearfix">
                <div class="swatch blackberry"><p class="swatch">Berries</p></div>
                <div class="swatch tea"><p class="swatch">Bergamont</p></div>
                <div class="swatch orange"><p class="swatch">Orange</p></div> 
            </div>
        </div>
    </div>
  <div class="row">
	<h3 class="center"><a href="http://theroasterspack.com/products/subscribe">Get Started for $26.95 / Month</a></h3>
	<p class="center"><a class="button" href="http://theroasterspack.com/pages/subscribe-to-the-roasters-pack" title="Subscribe">Subscribe</a></p>  
</div>
</div>