<div class="linedbackground spacer48 marginbottom16"></div>
<h2>Frequently Asked Questions</h2>
<div class="seven columns alpha">
	<h3><i class="fa fa-chevron-right"></i> When does this ship out and when does it arrive?</h3>
	<p>We have a new issue of The Roasters Pack for every month. We mail out on the first Monday of every month, which in most places in Canada, would arrive that same week!</p>
	<h3><i class="fa fa-chevron-right"></i> Is this a recurring subscription? If I decide I want to cancel, how do I do so?</h3>
	<p>The Roasters Pack is a recurring subscription. We make it easy to cancel if you wish - we send you an email after you sign up with a link to manage your account. Also, we send out a reminder email 3 days before a recurring charge takes place so that you won't forget about your subscription!</p>
	<h3><i class="fa fa-chevron-right"></i> Which coffees will I receive?</h3>
	<p>You will receive 3 delicious coffees from 3 different roasters. The coffees are a surprise so your palate will be taken on a coffee adventure with each issue. For examples of the coffee that has been featured previously, click <a href="http://instagram.com/p/p_sFNmSIgH/" target="_blank" title="Instagram July Issue of The Roasters Pack">here</a> or <a href="http://instagram.com/p/o0_Qa2SIg1" target="_blank" title="Instagram June Issue of The Roasters Pack">here</a> or check out our <a href="http://theroasterspack.com/collections/buy-canadian-coffee" title="Buy Canadian Coffee from The Roasters Pack">coffee store</a>!</p>
	<h3><i class="fa fa-chevron-right"></i> How fresh is the coffee?</h3>
	<p>When we ship it out, it will be 1 to 7 days off of roast date. Our goal is to send you the freshest coffee as possible!</p>
</div>
<div class="seven columns offset-by-one omega">
	<h3><i class="fa fa-chevron-right"></i> How much coffee do I receive?</h3>
	<p>You will receive four ounces of three different roasts, to equal a total of 12 ounces. This makes over 35 cups of coffee!</p>
	<h3><i class="fa fa-chevron-right"></i> How do you choose which coffees to put in The Roasters Pack?</h3>
	<p>We evaluate a tonne of coffees every month for a variety of factors – the body, acidity, finish, complexity, aftertaste and tasting notes. We want you to be able to discover the best coffees available and we sift through the masses to discover the ones that are incredibly exceptional.</p>
	<h3><i class="fa fa-chevron-right"></i> How large is the package? Does it fit in my mailbox?</h3>
	<p>The package is 9 inches by 7 inches by 4 inches. If you’re Canadian, you’ll most likely receive a key for additional parcel compartments at the bottom of the community mailbox.</p>
	<h3><i class="fa fa-chevron-right"></i> Where do you ship to?</h3>
	<p>Currently we ship to Canada &amp; USA. The shipping and tax is included, so the price you see is what you get!</p>
</div>
