<div class="row">
  <h3>When does this ship out and when does it arrive?</h3>
  <p>We have a new issue of The Roasters Pack for every month. We mail out so that the coffee will be in your hands the first week of the month! Take a look at the timer to know when we mail out our shipments.</p>
</div>
<div class="row">
  <h3>Which coffees will I receive?</h3>
  <p>You will receive 3 delicious coffees from 3 different roasters. The coffees are a surprise, however they’re expertly chosen so your palate will be taken on a coffee drinking adventure with each issue. For examples of coffee’s we’ve featured previously, you can check out our coffee shop here.</p>
</div>
<div class="row">
  <h3>How do you choose which coffees to put in The Roasters Pack?</h3>
  <p>We evaluate hundreds of coffees every month for a variety of factors – the body, acidity, finish, complexity, aftertaste and tasting notes. We want you to be able to discover the best coffees available and we sift through the masses to discover the ones that are incredibly exceptional.</p>
</div>
<div class="row">
  <h3>How large is the package? Does it fit in my mailbox?</h3>
  <p>The package is 9 inches by 6.75 inches by 2.75 inches. If you’re Canadian, you’ll most likely receive a key for additional parcel compartments at the bottom of the community mailbox.</p>
</div>
<div class="row">
  <h3>Where do you ship to?</h3>
  <p>Currently we ship to Canada & USA. The shipping and tax is included, so the price you see is what you get!</p>
</div>
<div class="row">
  <h3>How fresh is the coffee?</h3>
  <p>When we ship it out, it will be 1 to 7 days off of roast date. Our goal is to send you the freshest coffee as possible!</p>
</div>
