<div class="outside-box">
    <div class="this-month row">
        <h3 class="this-month">Featured In February 2015</h3>
        <div class="one-third column clearfix alpha">
          <a href="/pages/anchored-coffee"><img class="this-month-img" src="https://cdn.shopify.com/s/files/1/0330/7333/files/Anchored-IMG_3206.png?6576"></a>
          <a href="/pages/detour"><h3 class="coffee-title">Anchored Coffee - Thiriku Peaberry</h3></a>
            <p id="quote">"Big tropical fruit notes with a balanced Cocoa and Almond finish. I had one of the best Cappuccinos of my life on Monday with this beast. 3 Bs for sure - Balanced. Bold. Bodacious."</p>
            <p class="this-month-roaster">- Dean Petty,</p>
            <p class="this-month-roaster">Owner/Fun, Co-ordinator</p>
            <div class="flavour-swatches swatch-row clearfix">
                <div class="swatch mango"><p class="swatch">Mango</p></div>
                <div class="swatch almond"><p class="swatch">Almond</p></div>
                <div class="swatch cocoa"><p class="swatch">Cocoa</p></div>
            </div>
        </div>
        <div class="one-third column clearfix">
          <a href="/pages/monigram"><img class="this-month-img" src="https://cdn.shopify.com/s/files/1/0330/7333/files/B_A-IMG_3198.png?6576"></a>
            <a href="/pages/bows-and-arrows"><h3 class="coffee-title">Bows &amp; Arrows - Quebradon</h3></a>
            <p id="quote">“This is quite a distinct coffee - easily identifiable by it’s full, textured nature. Very approachable with less fruit, more nuanced flavours; think chocolate mousse, pecan and caramel coated apple.”</p>
            <p class="this-month-roaster">- Rob Frietas</p>
            <p class="this-month-roaster">Coffee Specialist</p>
            <div class="flavour-swatches swatch-row clearfix">
                <div class="swatch chocolate-mousse"><p class="swatch">Chocolate Mousse</p></div>
                <div class="swatch pecan"><p class="swatch">Pecan</p></div>
                <div class="swatch caramel-apple"><p class="swatch">Caramel Apple</p></div>
            </div>
        </div>
        <div class="one-third column clearfix omega">
            <a href="/pages/phil-sebastian"><img class="this-month-img" src="https://cdn.shopify.com/s/files/1/0330/7333/files/P_S-IMG_3200.png?6576"></a>
            <a href="/pages/49th-parallel"><h3 class="coffee-title">Phil &amp; Sebastian - Leo Rojas</h3></a>
            <p id="quote">"The coffee opens sweet and juicy with a very floral aroma and flavour, then progresses into a lovely caramel sweetness followed by notes of strawberry-rhubarb pie.  It doesn't stop there, though, as notes of peach emerge as it really cools down."</p>
            <p class="this-month-roaster">- Phil Robertson</p>
            <p class="this-month-roaster">Co-Founder</p>
            <div class="flavour-swatches swatch-row clearfix">
                <div class="swatch strawberry-rhubarb-pie"><p class="swatch">Strawberry Rhubarb Pie</p></div>
                <div class="swatch caramel"><p class="swatch">Caramel</p></div>
                <div class="swatch floral"><p class="swatch">Floral</p></div>
            </div>
        </div>
    </div>
  <div class="row">
	<h3 class="center"><a href="http://theroasterspack.com/products/subscribe">Get Started for $26.95 / Month</a></h3>
	<p class="center"><a class="button" href="http://theroasterspack.com/pages/subscribe-to-the-roasters-pack" title="Subscribe">Subscribe</a></p>  
</div>
</div>
