<div class="outside-box">
    <div class="this-month row">
        <h3 class="this-month">Featured In February 2016</h3>
        <div class="one-third column clearfix alpha">
          <a href="/pages/detour-coffee"><img class="this-month-img" src="{{ 'february-2016-01.png' | asset_url }}"></a>
          <a href="/pages/detour-coffee"><h3 class="coffee-title">Detour Coffee Roasters<br><strong>Sumava De Lourdes</strong>
</h3></a>
            <p id="quote">“I think it’s a very balanced coffee. It has a really good body to it with some really rich notes… I’m definitely getting a lot brown sugar, a darker fruit as well and then a bit of citrus in there.”</p>
            <p class="this-month-roaster">- Geoff Woodley,
</p>
            <p class="this-month-roaster">Lead Roaster</p>
            <div class="flavour-swatches swatch-row clearfix">
                <div class="swatch brown-sugar"><p class="swatch">Brown Sugar</p></div>
                <div class="swatch raisins"><p class="swatch">Raisin</p></div>
                <div class="swatch orange"><p class="swatch">Orange</p></div>
            </div>
        </div>
        <div class="one-third column clearfix alpha">
          	<a href="/pages/pilot-coffee"><img class="this-month-img" src="{{ 'february-2016-02.png' | asset_url }}"></a>
            <a href="/pages/pilot-coffee"><h3 class="coffee-title">Pilot Coffee Roasters<br><strong>La Milena</strong></h3></a>
            <p id="quote">"It’s got an acidity that’s nice enough to be interesting and unique but it’s not too bright or sharp. At the same time it’s got that nice body and a nice heavy undertone to it – some spice and caramel, pear and a hint of vanilla."</p>
            <p class="this-month-roaster">- Tyler Mastantuono,</p>
            <p class="this-month-roaster">Trainer</p>
            <div class="flavour-swatches swatch-row clearfix">
                <div class="swatch chocolate"><p class="swatch">Chocolate</p></div>
                <div class="swatch spiced-pear"><p class="swatch">Spiced Pear</p></div>
                <div class="swatch vanilla"><p class="swatch">Vanilla</p></div>
            </div>
        </div>
        <div class="one-third column clearfix omega">
            <a href="/pages/anchored-coffee-roasters"><img class="this-month-img" src="{{ 'february-2016-03.png' | asset_url }}"></a>
            <a href="/pages/anchored-coffee-roasters"><h3 class="coffee-title">Anchored Coffee Roasters<br><strong>Kanzu</strong></h3></a>
            <p id="quote">"Mouthfeel is pure silk. Beautifully balanced silky chocolate notes up front with a super unique sweet, lychee, rose water and lime-ade finish. Its truly tasty."</p>
            <p class="this-month-roaster">- Dean Petty,</p>
            <p class="this-month-roaster">Owner/Fun Co-Ordinator</p>
            <div class="flavour-swatches swatch-row clearfix">
                <div class="swatch chocolate-pudding"><p class="swatch">Chocolate Pudding</p></div>
                <div class="swatch lychee"><p class="swatch">Lychee</p></div>
                <div class="swatch rose-water"><p class="swatch">Rose Water</p></div> 
            </div>
        </div>
    </div>
  <div class="row">
	<h3 class="center"><a href="http://theroasterspack.com/products/subscribe">Get Started for $26.95 / Month</a></h3>
	<p class="center"><a class="button" href="http://theroasterspack.com/pages/subscribe-to-the-roasters-pack" title="Subscribe">Subscribe</a></p>  
</div>
</div>