<div class="sixteen columns">
	<div class="six columns alpha article">
		<img src="https://cdn.shopify.com/s/files/1/0330/7333/files/AeroPress_Grinder_-_IMG_2946_with_price.jpg?3241912778991203518" alt="Aeropress Grinder and the Roasters Pack" />
	</div>
	<div class="ten columns omega">
		<h3 class="center" style="margin: 0; font-size: 2em;">The Ultimate Gift Combo</h3>
		<h5 style="color: #dd390d; font-size: 1em; padding: 0px; line-height: auto; text-align: center;">The Roasters Pack (3 Month Gift) + AeroPress &amp; Grinder Kit</h5>
		<h5 style="text-align: center; padding-bottom: 0;">$144.99 (Regularly $158.63)</h5>
		<p class="center">You’re setting someone up with the ultimate gift.<br>Their mornings will be so so so much better.</p>
		<a style="display: block;" class="button" href="/products/coffee-gift-combo"><span style="font-size: 1.4em;">Order Now</span></a>
	</div>
</div>