<div class="sixteen columns">
	<div class="six columns alpha article">
		<img src="https://cdn.shopify.com/s/files/1/0330/7333/files/aeropress-kit-image.jpg?6305" alt="Aeropress Grinder and the Roasters Pack" />
	</div>
	<div class="ten columns omega">
		<h3 class="center" style="margin: 0; font-size: 2em;">The Ultimate Holiday Coffee Combo</h3>
		<h5 style="color: #dd390d; font-size: 1em; padding: 0px; line-height: auto; text-align: center;">The Roasters Pack (3 Month Gift) + AeroPress &amp; Grinder Kit</h5>
		<h5 style="text-align: center; padding-bottom: 0;">$134.99 (Regularly $151.84)</h5>
		<p class="center">You’re setting someone up with the ultimate Holiday gift. Their mornings are going to be so so so much better. <strong>Shipping out January 4th, 2016</strong>.</p>
		<a style="display: block;" class="button" href="/products/copy-of-gift-the-roasters-pack-3-months-with-aeropress-hario-slim-january-start"><span style="font-size: 1.4em;">Order Now</span></a>
	</div>
</div>