<div class="sixteen columns alpha omega marginbottom16 in-every-issue">
	<div class="article eight columns offset-by-one alpha" style="text-align: center;"><img src="https://cdn.shopify.com/s/files/1/0330/7333/files/the-roasters-pack-photoshop_06.gif?6218" alt="Three Four Ounce Bags of Coffee" />
		<h5><strong>3x4oz Bags of Fresh Coffee Beans</strong>, Roasted in Independent Canadian Roasteries</h5>
	</div>
	<div class="article seven columns omega" style="text-align: center;">
		<img width="348px" src="https://cdn.shopify.com/s/files/1/0330/7333/files/the-roasters-pack-photoshop_03.jpg?6222" alt="Really useful tasting notes and special coffee extras" />
		<h5>Really Useful <strong>Tasting Notes &amp; Special Extras</strong>? Yeah, we do those.</h5>
	</div>
</div>