<div class="outside-box">
    <div class="this-month row">
        <h3 class="this-month">Featured In January 2016</h3>
        <div class="one-third column clearfix alpha">
          <a href="/pages/propeller-coffee"><img class="this-month-img" src="{{ 'january-2016-01.png' | asset_url }}"></a>
          <a href="/pages/propeller-coffee"><h3 class="coffee-title">Propeller Coffee Co. <br><strong>Seasonal Blend  </strong>
</h3></a>
            <p id="quote">"This blend of 3 top lot coffees has been roasted to produce a cup with a heavier body and rich flavour that will satisfy during colder winter months!"</p>
            <p class="this-month-roaster">- Geoff Polci,
</p>
            <p class="this-month-roaster">Co-Owner</p>
            <div class="flavour-swatches swatch-row clearfix">
                <div class="swatch bakers-chocolate"><p class="swatch">Bakers Chocolate</p></div>
                <div class="swatch almond"><p class="swatch">Almonds</p></div>
                <div class="swatch caramel"><p class="swatch">Caramel</p></div>
            </div>
        </div>
        <div class="one-third column clearfix alpha">
          	<a href="/pages/49th-parallel"><img class="this-month-img" src="{{ 'january-2016-02.png' | asset_url }}"></a>
            <a href="/pages/49th-parallel"><h3 class="coffee-title">49th Parallel Coffee Roasters<br><strong>Finca Bonanza</strong></h3></a>
            <p id="quote">"This year’s crop from Martir Fernandez is sweet and clean with caramel dominant sweetness. The Yellow Catuai that makes up the majority of Martir’s crop presents itself as delicate with soft kiwi acidity.”</p>
            <p class="this-month-roaster">- Laura Perry,</p>
            <p class="this-month-roaster">Green Coffee Buyer</p>
            <div class="flavour-swatches swatch-row clearfix">
                <div class="swatch chestnut"><p class="swatch">Chestnuts</p></div>
                <div class="swatch caramel"><p class="swatch">Carmel</p></div>
                <div class="swatch kiwi"><p class="swatch">Kiwi</p></div>
            </div>
        </div>
        <div class="one-third column clearfix omega">
            <a href="/pages/de-mello-palheta"><img class="this-month-img" src="{{ 'january-2016-03.png' | asset_url }}"></a>
            <a href="/pages/de-mello-palheta"><h3 class="coffee-title">De Mello Palheta Coffee Roasters<br><strong>Worka</strong></h3></a>
            <p id="quote">"I've been drinking lots of Ethiopian coffees this year, but this coffee was different than any of the others. It is unlike any other washed coffee... to me, the flavour spectrum was more on the natural side; very creamy, lots of fruit bombs yet it's still clean like a washed coffee."</p>
            <p class="this-month-roaster">- Felix Cha,</p>
            <p class="this-month-roaster">Owner</p>
            <div class="flavour-swatches swatch-row clearfix">
                <div class="swatch coconut"><p class="swatch">Coconut Milk</p></div>
                <div class="swatch apricot"><p class="swatch">Apricot</p></div>
                <div class="swatch peach"><p class="swatch">Peach</p></div> 
            </div>
        </div>
    </div>
  <div class="row">
	<h3 class="center"><a href="http://theroasterspack.com/products/subscribe">Get Started for $26.95 / Month</a></h3>
	<p class="center"><a class="button" href="http://theroasterspack.com/pages/subscribe-to-the-roasters-pack" title="Subscribe">Subscribe</a></p>  
</div>
</div>