<div class="outside-box">
    <div class="this-month row">
        <h3 class="this-month">Featured In July 2015</h3>
        <div class="one-third column clearfix alpha">
          <a href="/pages/49th-parallel"><img class="this-month-img" src="{{ 'july-2015-01.png' | asset_url }}"></a>
          <a href="/pages/49th-parallel"><h3 class="coffee-title">49th Parallel Coffee Roasters <br><strong>Guatemala Poaquil AA</strong>
</h3></a>
            <p id="quote">“"Round texture and gala apple acidity with flavours of marzipan, plum and vanilla."”
</p>
            <p class="this-month-roaster">- Laura Perry,
</p>
            <p class="this-month-roaster">Green Coffee Buyer</p>
            <div class="flavour-swatches swatch-row clearfix">
                <div class="swatch almond"><p class="swatch">Almonds</p></div>
                <div class="swatch vanilla"><p class="swatch">Vanilla</p></div>
                <div class="swatch gala-apple"><p class="swatch">Gala Apple</p></div>
            </div>
        </div>
        <div class="one-third column clearfix alpha">
          	<a href="/pages/phil-sebastian"><img class="this-month-img" src="{{ 'july-2105-03.png' | asset_url }}"></a>
            <a href="/pages/phil-sebastian"><h3 class="coffee-title">Phil &amp; Sebastian Coffee Roasters<br><strong>Hartmann Honey</strong></h3></a>
            <p id="quote">"I just finished cupping the Hartmann Honey filter production from this week, and it was simply delicious… Chocolate covered raisins, medjool dates and fresh figs, cooling with hits of dried mango, pasticcio and lots of honey!"</p>
            <p class="this-month-roaster">- Phil Robertson,</p>
            <p class="this-month-roaster">Founder</p>
            <div class="flavour-swatches swatch-row clearfix">
                <div class="swatch chocolate-covered-raisins"><p class="swatch">Chocolate Covered Raisins</p></div>
                <div class="swatch fig-fresh"><p class="swatch">Fresh Figs</p></div>
                <div class="swatch dried-mango"><p class="swatch">Dried Mango</p></div>
            </div>
        </div>
        <div class="one-third column clearfix omega">
            <a href="/pages/detour"><img class="this-month-img" src="{{ 'july-2015-02.png' | asset_url }}"></a>
            <a href="/pages/detour"><h3 class="coffee-title">Detour Coffee Roasters<br><strong>Ardi</strong></h3></a>
            <p id="quote">"It’s rare for us to purchase and feature a dry-processed coffee but we couldn’t resist this amazing offering... The cup is full of big fruit notes, like peach, orange and blueberry, and it’s rounded out with floral aromas and a milk chocolate finish."</p>
            <p class="this-month-roaster">- Geoff Woodley,</p>
            <p class="this-month-roaster">Lead Roaster &amp; Green Coffee Buyer</p>
            <div class="flavour-swatches swatch-row clearfix">
                <div class="swatch blueberry"><p class="swatch">Blueberry</p></div>
                <div class="swatch peach-pie"><p class="swatch">Peach Pie</p></div>
                <div class="swatch creamy-chocolate"><p class="swatch">Creamy Chocolate</p></div>
            </div>
        </div>
    </div>
  <div class="row">
	<h3 class="center"><a href="http://theroasterspack.com/products/subscribe">Get Started for $26.95 / Month</a></h3>
	<p class="center"><a class="button" href="http://theroasterspack.com/pages/subscribe-to-the-roasters-pack" title="Subscribe">Subscribe</a></p>  
</div>
</div>