<div class="outside-box">
    <div class="this-month row">
        <h3 class="this-month">Featured In June 2015</h3>
        <div class="one-third column clearfix alpha">
          <a href="/pages/bows-and-arrows"><img class="this-month-img" src="https://cdn.shopify.com/s/files/1/0330/7333/files/ba-1.png?18084839285342071544"></a>
          <a href="/pages/bows-and-arrows"><h3 class="coffee-title">Bows &amp; Arrows Coffee Roasters<br><strong>El Paisaje</strong>
</h3></a>
            <p id="quote">“Carmen Rodriguez-Gallo is a new producer for us, and we couldn’t be more excited about the coffee from her farm, Finca El Paisaje. It's really pretty stunning, nicely balanced with subtle fruit and spice notes and a sweet muscavado sugar finish.”
</p>
            <p class="this-month-roaster">- Tad Ruszel,
</p>
            <p class="this-month-roaster">Head Roaster</p>
            <div class="flavour-swatches swatch-row clearfix">
                <div class="swatch brown-sugar"><p class="swatch">Muscovado Sugar</p></div>
                <div class="swatch cinnamon"><p class="swatch">Cinnamon</p></div>
                <div class="swatch chicory"><p class="swatch">Chicory</p></div>
            </div>
        </div>
        <div class="one-third column clearfix alpha">
          	<a href="/pages/phil-sebastian"><img class="this-month-img" src="https://cdn.shopify.com/s/files/1/0330/7333/files/ps-1.png?18084839285342071544"></a>
            <a href="/pages/phil-sebastian"><h3 class="coffee-title">Phil &amp; Sebastian Coffee Roasters<br><strong>Villa Imperial</strong></h3></a>
            <p id="quote">"This marks the fourth year we have worked with the community of Villa Imperial, embarking on processing, drying, and storage projects. The result is an offering that is very sweet with notes of chocolate, stone fruit and caramel."</p>
            <p class="this-month-roaster">- Phil Robertson,</p>
            <p class="this-month-roaster">Founder</p>
            <div class="flavour-swatches swatch-row clearfix">
                <div class="swatch milk-chocolate"><p class="swatch">Chocolate</p></div>
                <div class="swatch plum"><p class="swatch">Stone Fruit</p></div>
                <div class="swatch caramel"><p class="swatch">Caramel</p></div>
            </div>
        </div>
        <div class="one-third column clearfix omega">
            <a href="/pages/de-mello-palheta"><img class="this-month-img" src="https://cdn.shopify.com/s/files/1/0330/7333/files/dmp-1.png?18084839285342071544"></a>
            <a href="/pages/de-mello-palheta"><h3 class="coffee-title">de Mello Palheta Coffee Roasters<br><strong>Gera</strong></h3></a>
            <p id="quote">"When it comes to 'Ethiopian Coffees' we  tend to think it's a 'Fruity Fruity Coffee', but this Ethiopian Gera is actually a bit different. Banana &amp; persimmon covered in white chocolate! We are really enjoying this coffee over ice."</p>
            <p class="this-month-roaster">- Felix Cha,</p>
            <p class="this-month-roaster">Roaster</p>
            <div class="flavour-swatches swatch-row clearfix">
                <div class="swatch white-chocolate"><p class="swatch">White Chocolate</p></div>
                <div class="swatch banana"><p class="swatch">Banana</p></div>
                <div class="swatch persimmon"><p class="swatch">Persimmon</p></div>
            </div>
        </div>
    </div>
  <div class="row">
	<h3 class="center"><a href="http://theroasterspack.com/products/subscribe">Get Started for $26.95 / Month</a></h3>
	<p class="center"><a class="button" href="http://theroasterspack.com/pages/subscribe-to-the-roasters-pack" title="Subscribe">Subscribe</a></p>  
</div>
</div>