<div class="outside-box">
    <div class="this-month row">
        <h3 class="this-month">Featured In March 2015</h3>
        <div class="one-third column clearfix alpha">
          <a href="/pages/de-mello-palheta"><img class="this-month-img" src="https://cdn.shopify.com/s/files/1/0330/7333/files/gondo.png?8124292946554571948"></a>
          <a href="/pages/de-mello-palheta"><h3 class="coffee-title">de Mello Palheta Coffee Roasters - Kenya Gondo</h3></a>
            <p id="quote">"When I cupped this coffee, it reminded me of my childhood in Korea, where I used to eat lots of Jujube fruit for snacks and drink Eucalyptus Tea after dinner. This coffee can be a 'snack' for you too. It's so delicious!"</p>
            <p class="this-month-roaster">- Felix Cha,</p>
            <p class="this-month-roaster">Roaster</p>
            <div class="flavour-swatches swatch-row clearfix">
                <div class="swatch jujube-fruit"><p class="swatch">Jujube Fruit</p></div>
                <div class="swatch brown-sugar"><p class="swatch">Brown Sugar</p></div>
                <div class="swatch eucalyptus"><p class="swatch">Eucalyptus</p></div>
            </div>
        </div>
        <div class="one-third column clearfix">
          <a href="/pages/49th-parallel"><img class="this-month-img" src="https://cdn.shopify.com/s/files/1/0330/7333/files/ethiopia.png?8124292946554571948"></a>
            <a href="/pages/49th-parallel"><h3 class="coffee-title">49th Parallel - Ethiopia Welinso Organic</h3></a>
            <p id="quote">"Honeyed-floral aromatics, elegant texture with flavours of mixed stonefruit and nutella. It's very nice, balanced, organic, and clean Limu coffee, a true crowd pleaser."</p>
            <p class="this-month-roaster">- Saša Stojanovic,</p>
            <p class="this-month-roaster">QA &amp; Roaster</p>
            <div class="flavour-swatches swatch-row clearfix">
                <div class="swatch nutella"><p class="swatch">Nutella</p></div>
                <div class="swatch plum"><p class="swatch">Plum</p></div>
                <div class="swatch honey"><p class="swatch">Honey</p></div>
            </div>
        </div>
        <div class="one-third column clearfix omega">
            <a href="/pages/kittel"><img class="this-month-img" src="https://cdn.shopify.com/s/files/1/0330/7333/files/finca.png?8124292946554571948"></a>
            <a href="/pages/kittel"><h3 class="coffee-title">Kittel Coffee Roasters - Finca Jauja</h3></a>
            <p id="quote">"This region has produced some incredible coffees time and time again. This coffee is no exception. Think rich chocolate and hazelnut... The cup finishes with bright and sweet red fruit."</p>
            <p class="this-month-roaster">- Kevin Floether,</p>
            <p class="this-month-roaster">Lead Roaster</p>
            <div class="flavour-swatches swatch-row clearfix">
                <div class="swatch hazelnut"><p class="swatch">Hazelnut</p></div>
                <div class="swatch chocolate"><p class="swatch">Chocolate</p></div>
                <div class="swatch cherry-watermelon"><p class="swatch">Cherry Watermelon</p></div>
            </div>
        </div>
    </div>
  <div class="row">
	<h3 class="center"><a href="http://theroasterspack.com/products/subscribe">Get Started for $26.95 / Month</a></h3>
	<p class="center"><a class="button" href="http://theroasterspack.com/pages/subscribe-to-the-roasters-pack" title="Subscribe">Subscribe</a></p>  
</div>
</div>
