<div class="outside-box">
    <div class="this-month row">
        <h3 class="this-month">Featured In March 2016</h3>
        <div class="one-third column clearfix alpha">
          <a href="/pages/kittel"><img class="this-month-img" src="{{ 'march-2016-01.png' | asset_url }}"></a>
          <a href="/pages/kittel"><h3 class="coffee-title">Kittel Coffee Company<br><strong> San Sebastian</strong>
</h3></a>
            <p id="quote">"San Sebastian is an incredibly rich coffee with notes of chocolate cake, papaya, and pineapple. It's a super sweet and well balanced cup with a high level of approachability."</p>
            <p class="this-month-roaster">- Kevin Floether,
</p>
            <p class="this-month-roaster">Head Roaster</p>
            <div class="flavour-swatches swatch-row clearfix">
                <div class="swatch chocolate-cake"><p class="swatch">Chocolate Cake</p></div>
                <div class="swatch papaya"><p class="swatch">Papaya</p></div>
                <div class="swatch pineapple"><p class="swatch">Pineapple</p></div>
            </div>
        </div>
        <div class="one-third column clearfix alpha">
          	<a href="/pages/bows-and-arrows"><img class="this-month-img" src="{{ 'march-2016-02.png' | asset_url }}"></a>
            <a href="/pages/bows-and-arrows"><h3 class="coffee-title">Bows &amp; Arrows Coffee Roasters <br><strong>Finca Bella Aurora Lot #1660</strong></h3></a>
            <p id="quote">“This year’s lots from Nicaragua were highlighted with some really soft, beautiful clarity, but we’ve found that our smaller of the 2 lots we purchased from Finca Bella Aurora, this lot #1660, has settled into a profile featuring very ripe, deep fruits. We taste plenty of stewed plum, over-ripe cherry with a chocolate cake sweetness.”</p>
            <p class="this-month-roaster">- Robert Freitas,</p>
            <p class="this-month-roaster">Purchasing Manager</p>
            <div class="flavour-swatches swatch-row clearfix">
                <div class="swatch black-forest-cake"><p class="swatch">Black Forest Cake</p></div>
                <div class="swatch stewed-plum"><p class="swatch">Stewed Plum</p></div>
                <div class="swatch cherry"><p class="swatch">Cherry</p></div>
            </div>
        </div>
        <div class="one-third column clearfix omega">
            <a href="/pages/de-mello-palheta"><img class="this-month-img" src="{{ 'march-2016-03.png' | asset_url }}"></a>
            <a href="/pages/de-mello-palheta"><h3 class="coffee-title">De Mello Palheta<br><strong>Mystery Coffee</strong></h3></a>
            <p id="quote">"You will get this lovely mellow rose water, soft jasmine sweetness and pineapple acidity that tickles your mouth. It was negative twenty-two degrees out so I took a hot bath with a cup of this coffee. It was heaven."</p>
            <p class="this-month-roaster">- Felix Cha,</p>
            <p class="this-month-roaster">Owner</p>
            <div class="flavour-swatches swatch-row clearfix">
                <div class="swatch cola"><p class="swatch">Cola</p></div>
                <div class="swatch jasmine"><p class="swatch">Jasmine</p></div>
                <div class="swatch pineapple"><p class="swatch">Pineapple</p></div> 
            </div>
        </div>
    </div>
  <div class="row">
	<h3 class="center"><a href="http://theroasterspack.com/products/subscribe">Get Started for $26.95 / Month</a></h3>
	<p class="center"><a class="button" href="http://theroasterspack.com/pages/subscribe-to-the-roasters-pack" title="Subscribe">Subscribe</a></p>  
</div>
</div>