<div class="outside-box">
    <div class="this-month row">
        <h3 class="this-month">Featured In May 2015</h3>
        <div class="one-third column clearfix alpha">
          <a href="/pages/49th-parallel"><img class="this-month-img" src="https://cdn.shopify.com/s/files/1/0330/7333/files/web-49p.png?3766970947381782055"></a>
          <a href="/pages/49th-parallel"><h3 class="coffee-title">49th Parallel Coffee Roasters -<br>Kenya Kamwangi</h3></a>
            <p id="quote">"Stewed plum and toffee sweetness, with a soft flavour of lavender and lively cola acidity"
</p>
            <p class="this-month-roaster">- Laura Perry,
</p>
            <p class="this-month-roaster">Green Coffee Buyer</p>
            <div class="flavour-swatches swatch-row clearfix">
<!--                 <div class="swatch milk-chocolate"><p class="swatch">Chocolate</p></div> -->
                <div class="swatch peach"><p class="swatch">Stone Fruit</p></div>
                <div class="swatch toffee"><p class="swatch">Toffee</p></div>
                <div class="swatch cola"><p class="swatch">Cola</p></div>

            </div>
        </div>
        <div class="one-third column clearfix">
         	<a href="/pages/matchstick"><img class="this-month-img" src="https://cdn.shopify.com/s/files/1/0330/7333/files/web-match.png?3766970947381782055"></a>
            <a href="/pages/matchstick"><h3 class="coffee-title">Matchstick Coffee Roasters -<br>Catalogue 18</h3></a>
            <p id="quote">"We love it as an espresso, where the bright and lively acidity lifts up roasted hazelnut and cacao flavours, and as a filter coffee, where it brews up comforting and rich."</p>
            <p class="this-month-roaster">- Ayla Harker,</p>
            <p class="this-month-roaster">Head Trainer</p>
            <div class="flavour-swatches swatch-row clearfix">
                <div class="swatch hazelnut"><p class="swatch">Hazelnut</p></div>
                <div class="swatch brown-sugar"><p class="swatch">Brown Sugar</p></div>
                <div class="swatch cherry-wood"><p class="swatch">Cherry Wood</p></div>
            </div>
        </div>
        <div class="one-third column clearfix omega">
            <a href="/pages/anchored-coffee"><img class="this-month-img" src="https://cdn.shopify.com/s/files/1/0330/7333/files/web-anchored.png?3766970947381782055"></a>
            <a href="/pages/anchored-coffee"><h3 class="coffee-title">Anchored Coffee - San Isidro</h3></a>
            <p id="quote">"San Isidro is dialed in and delicious. It showed up like WOW on the cupping table. Balanced stone fruit upfront with big sweet Twix notes on the finish. With the heart of a lion and the balance of a one-footed breakdancer, this coffee has become the crowd favourite in both the espresso and filter worlds."</p>
            <p class="this-month-roaster">- Dean Petty,</p>
            <p class="this-month-roaster">Owner&#47;Fun Co&#45;ordinator</p>
            <div class="flavour-swatches swatch-row clearfix">
                <div class="swatch raisins"><p class="swatch">Raisins</p></div>
                <div class="swatch cookie-bar"><p class="swatch">Cookie Bar</p></div>
                <div class="swatch black-cherry"><p class="swatch">Black Cherry</p></div>
            </div>
        </div>
    </div>
  <div class="row">
	<h3 class="center"><a href="http://theroasterspack.com/pages/subscribe-to-the-roasters-pack">Get Started for $26.95 / Month</a></h3>
	<p class="center"><a class="button" href="http://theroasterspack.com/pages/subscribe-to-the-roasters-pack" title="Subscribe">Subscribe</a></p>  
	</div>
</div>
