<div class="timer timerbox" style="margin: 0;">
	<div class="timer-desc" style="text-align: center;">
		<h2 class="center next-delivery">Next Delivery Cut Off:</h2>
		<p class="d-h-m" style="display: inline-block; width: 80px;">Days</p>
		<p class="d-h-m" style="display: inline-block; width: 80px;">Hours</p>
		<p class="d-h-m" style="display: inline-block; width: 80px;">Minutes</p>
	</div>
	<div id="timer" style="text-align: center;"></div>
</div>