<div class="outside-box">
    <div class="this-month row">
        <h3 class="this-month">Featured In November 2015</h3>
        <div class="one-third column clearfix alpha">
          <a href="/pages/detour"><img class="this-month-img" src="{{ 'november-2015-01.png' | asset_url }}"></a>
          <a href="/pages/detour"><h3 class="coffee-title">Detour Coffee Roasters <br><strong>El Sapito</strong>
</h3></a>
            <p id="quote">"In the cup we find gala apple, bartlett pear, soft tangerine and subtle coconut in the finish. It's not a big coffee by any means though. The body is silky and smooth and the acidity is very balanced with the sweetness."</p>
            <p class="this-month-roaster">- Geoff Woodley,
</p>
            <p class="this-month-roaster">Lead Roaster and Green Buyer</p>
            <div class="flavour-swatches swatch-row clearfix">
                <div class="swatch gala-apple"><p class="swatch">Gala Apple</p></div>
                <div class="swatch bartlett-pear"><p class="swatch">Bartlett Pear</p></div>
                <div class="swatch coconut"><p class="swatch">Coconut</p></div>
            </div>
        </div>
        <div class="one-third column clearfix alpha">
          	<a href="/pages/fernwood-coffee-company"><img class="this-month-img" src="{{ 'november-2015-02.png' | asset_url }}"></a>
            <a href="/pages/fernwood-coffee-company"><h3 class="coffee-title">Fernwood Coffee Company<br><strong>Kapsokisio Peaberry</strong></h3></a>
            <p id="quote">"I find it has a really nice quality of acidity. When we talk about acidity we talk about intensity and quality, and for a Kenyan coffee I don’t think it’s the most intense, but the quality is bang on. It’s just a really pleasant, high quality acidity with a lot of sweetness."</p>
            <p class="this-month-roaster">- Ben Cram,</p>
            <p class="this-month-roaster">Owner</p>
            <div class="flavour-swatches swatch-row clearfix">
                <div class="swatch blackberry"><p class="swatch">Blackberry</p></div>
                <div class="swatch honeydew"><p class="swatch">Honeydew</p></div>
            </div>
        </div>
        <div class="one-third column clearfix omega">
            <a href="/pages/de-mello-palheta"><img class="this-month-img" src="{{ 'november-2015-03.png' | asset_url }}"></a>
            <a href="/pages/de-mello-palheta"><h3 class="coffee-title">de Mello Palheta Coffee Roasters<br><strong>El Borbonal</strong></h3></a>
            <p id="quote">"This coffee is super sweet, mouth full of brown sugar sweetness, with flavors of rosemary and Coca-Cola. It was almost like drinking a cup of coffee-coke."</p>
            <p class="this-month-roaster">- Felix Cha</p>
            <p class="this-month-roaster">Roaster</p>
            <div class="flavour-swatches swatch-row clearfix">
                <div class="swatch rosemary"><p class="swatch">Rosemary</p></div>
                <div class="swatch cola"><p class="swatch">Cola</p></div>
                <div class="swatch brown-sugar"><p class="swatch">Brown Sugar</p></div>
            </div>
        </div>
    </div>
  <div class="row">
	<h3 class="center"><a href="http://theroasterspack.com/products/subscribe">Get Started for $26.95 / Month</a></h3>
	<p class="center"><a class="button" href="http://theroasterspack.com/pages/subscribe-to-the-roasters-pack" title="Subscribe">Subscribe</a></p>  
</div>
</div>