<form method="post" id="office-form">
<div class="section eight columns alpha">
<img src="http://placehold.it/600x320">
</div>
<div class="four columns">
<div class="row">
	<label for="Blend" id="Blend-ariaLabel">Blend</label>
	<input id="Blend" name="Blend" type="number" aria-labelledby="Blend-ariaLabel" min="0" max="30" step="1" value="0">
</div>
<div class="row">
	<label for="SingleOrigin" id="SingleOrigin-ariaLabel">Single Origin</label>
	<input id="SingleOrigin" name="SingleOrigin" type="number" aria-labelledby="SingleOrigin-ariaLabel" min="0" max="30" step="1" value="0">
</div>
</div>
<div class="four columns omega">
<div class="row">
	<label for="DarkRoast" id="DarkRoast-ariaLabel">Dark Roast</label>
	<input id="DarkRoast" name="DarkRoast" type="number" aria-labelledby="DarkRoast-ariaLabel" min="0" max="30" step="1" value="0">
</div>
<div class="row">
	<label for="Decaf" id="Decaf-ariaLabel">Decaf</label>
	<input id="Decaf" name="Decaf" type="number" aria-labelledby="Decaf-ariaLabel" min="0" max="30" step="1" value="0">
</div>
<div class="row">
<input type="submit" value="Checkout">
</div>
</div>
</form>