<!--
<div class="paddingtop24"></div>
<h3 class="border-top">Featured in April 2015</h3>
<a href="/pages/bows-and-arrows"><img class="this-month-img" src="https://cdn.shopify.com/s/files/1/0330/7333/files/ba-web.png?1942455342416964640" /></a> <a href="/pages/bows-and-arrows">
<h3 class="coffee-title">Bows &amp; Arrows Coffee Roasters - Noel Miranda</h3>
</a>
<p id="quote">“Noel Miranda’s coffee is very sweet, with a caramelized sugar and cassia aroma; low acidity and pleasant texture, a lingering sweetness. Friends and family, really everyone who lives on your street, will enjoy this coffee. Also did I mention its ridiculously sweet.” </p>
<p class="this-month-roaster">- Amara Sao,</p>
<p class="this-month-roaster">Cafe Manager</p>
<div class="flavour-swatches swatch-row clearfix">
<div class="swatch shortbread">
<p class="swatch">Shortbread</p>
</div>
<div class="swatch plum">
<p class="swatch">Plum</p>
</div>
<div class="swatch gulab-jamun">
<p class="swatch">Gulab Jamun</p>
</div>
</div>
<br /> <a href="/pages/bows-and-arrows"><img class="this-month-img" src="https://cdn.shopify.com/s/files/1/0330/7333/files/B_A-IMG_3198.png?6576" /></a>
<h2 class="six columns alpha">Featured in February 2015</h2>
<a href="/pages/bows-and-arrows">
<h3 class="coffee-title">Bows &amp; Arrows - Quebradon</h3>
</a>
<p id="quote">“This is quite a distinct coffee - easily identifiable by it’s full, textured nature. Very approachable with less fruit, more nuanced flavours; think chocolate mousse, pecan and caramel coated apple.”</p>
<p class="this-month-roaster">- Rob Frietas</p>
<p class="this-month-roaster">Coffee Specialist</p>
<div class="flavour-swatches swatch-row clearfix">
<div class="swatch chocolate-mousse">
<p class="swatch">Chocolate Mousse</p>
</div>
<div class="swatch pecan">
<p class="swatch">Pecan</p>
</div>
<div class="swatch caramel-apple">
<p class="swatch">Caramel Apple</p>
</div>
</div>
<h3 class="bordertop">Featured in July 2014</h3>
<p style="text-align: center;"><a href="http://theroasterspack.com/collections/buy-canadian-coffee/products/bows-arrows-coffee-roasters-victoria-british-colombia-bella-carmona" title="Bows and Arrows Coffee Roasters Bella Carmona Estate"><img src="//cdn.shopify.com/s/files/1/0330/7333/files/Bows-_-Arrows---Front---IMG_1280-trim.jpg?4850" /></a></p>
<h4 style="text-align: center;"><a href="http://theroasterspack.com/collections/buy-canadian-coffee/products/bows-arrows-coffee-roasters-victoria-british-colombia-bella-carmona" title="Bows and Arrows Coffee Roasters Bella Carmona Estate">Bella Carmona Estate</a></h4>
<!-- <p class="taste-profile">"After years of working at a variety of coffee roasters, in 2011 Drew Johnson launched Bows &amp; Arrows Coffee Roasters in Victoria, B.C . Over the past few years he’s built relationships with producers to create a direct trade that invests back in the farms as well as the families who work there – whether it’s a new wet mill or schooling for a farmers’ daughter. “The most important thing is feeling good and having a conscious at the end of the day” says Drew."</p> -->
<div class="flavour-swatches swatch-row">
<p class="swatch cane-sugar"> </p>
<p class="swatch brown-butter"> </p>
<p class="swatch honey"> </p>
<p class="swatch green-apple"> </p>
</div>
<h3>Also In July 2014</h3>
<ul>
<li><a href="/pages/detour-coffee-roasters">Detour Coffee Roasters</a></li>
<li><a href="/pages/monigram">Monigram</a></li>
</ul>