<div class="period ten columns alpha">
  <div class="five columns alpha one-month">
    <div class="subscription-button">
    <h3>One Issue</h3>
    <p>$29.95 / Month</p>
    </div>
  </div>
  <div class="five columns omega three-month">
        <div class="subscription-button">
    <h3>Three Issues</h3>
    <p>$28.95 / Month</p>
    </div>
  </div>
  <div class="five columns alpha six-month">
    <div class="subscription-button">
    <h3>Six Issues</h3>
    <p>$27.95 / Month</p>
    </div>
  </div>
  <div class="five columns omega twelve-month">
    <div class="subscription-button">
	<h3>Twelve Issues</h3>
    <p>$26.95 / Month</p>
    </div>
  </div>
</div>
<div class="grind ten columns alpha">
  <div class="ten columns alpha omega">
    <div class="subscription-button whole-bean">
		<h3>Whole Bean</h3>
    	<p>Recommended</p>
    </div>
  </div>
  <div class="five columns alpha">
    <div class="subscription-button coarse">
    <h3>Coarse Grind</h3>
    <p>French Press</p>
    </div>
  </div>
  <div class="five columns omega">
    <div class="subscription-button medium">
    <h3>Medium Grind</h3>
    <p>Drip Filters</p>
    </div>
  </div>
  <div class="five columns alpha">
    <div class="subscription-button fine">
    <h3>Fine Grind</h3>
    <p>Aeropress</p>
    </div>
  </div>
  <div class="five columns omega">
    <div class="subscription-button xfine">
    <h3>Extra Fine Grind</h3>
    <p>Espresso</p>
    </div>
  </div>
</div>
<div class="ten columns alpha offer-box">
  <div class="offer">
    <button class="subscription-button" id="add-to-cart">Add to Cart</button>
  </div>
</div>
<div class="six columns omega">
  <div class="timer timerbox" style="margin: 0;">
    <div class="timer-desc" style="text-align: center;">
      <h2 class="center next-delivery"><i class="fa fa-clock-o"></i> Next Delivery in:</h2>
      <p class="d-h-m" style="display: inline-block; width: 80px;">Days</p>
      <p class="d-h-m" style="display: inline-block; width: 80px;">Hours</p>
      <p class="d-h-m" style="display: inline-block; width: 80px;">Minutes</p>
    </div>
    <div id="new_year" style="text-align: center;"></div>
  </div>
</div>
<div class="sixteen columns alpha omega lines"></div>
<div class="sixteen columns alpha omega">
  <h2>Some Fans of Ours</h2>
  <div class="eight columns alpha">
    <blockquote class="twitter-tweet" lang="en">
      <p>My first shipment from <a href="https://twitter.com/TheRoastersPack">@TheRoastersPack</a> included coffee cherry tea, which is pretty neat. <a href="http://t.co/QX42kX0eWD">pic.twitter.com/QX42kX0eWD</a></p>
      — Dave Shea (@mezzoblue) <a href="https://twitter.com/mezzoblue/status/499261310605873152">August 12, 2014</a></blockquote>
    <script async="" src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
  <div class="eight columns omega">
    <blockquote class="twitter-tweet" lang="en">
      <p>Hand-grinding beans in the morning is the most satisfying feeling. Then that first whiff of the grounds after, HO LAWDY! <a href="https://twitter.com/TheRoastersPack">@TheRoastersPack</a></p>
      — Alex Mortimer (@Alex_Mortimer) <a href="https://twitter.com/Alex_Mortimer/status/490891867202928641">July 20, 2014</a></blockquote>
    <script async="" src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    <blockquote class="twitter-tweet" lang="en">
      <p>Like a kid in a candy store... Got my <a href="https://twitter.com/TheRoastersPack">@theroasterspack</a> July subscription box today - such delicious… <a href="http://t.co/YH4hRvjQa4">http://t.co/YH4hRvjQa4</a></p>
      — Amanda Dwyer (@MandaPantsD) <a href="https://twitter.com/MandaPantsD/status/485473566847422466">July 5, 2014</a></blockquote>
    <script async="" src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
</div>
<div class="sixteen columns">
  <div class="linedbackground spacer48 marginbottom16"></div>
  <h2>Frequently Asked Questions</h2>
  <div class="seven columns alpha">
    <h3><i class="fa fa-chevron-right"></i> When does this ship out and when does it arrive?</h3>
    <p>We have a new issue of The Roasters Pack for every month. We mail out on the first Monday of every month, which in most places in Canada, would arrive that same week!</p>
    <h3><i class="fa fa-chevron-right"></i> Which coffees will I receive?</h3>
    <p>You will receive 3 delicious coffees from 3 different roasters. The coffees are a surprise so your palate will be taken on a coffee adventure with each issue. For examples of the coffee that has been featured previously, click <a href="http://instagram.com/p/p_sFNmSIgH/" target="_blank" title="Instagram July Issue of The Roasters Pack">here</a> or <a href="http://instagram.com/p/o0_Qa2SIg1" target="_blank" title="Instagram June Issue of The Roasters Pack">here</a> or check out our <a href="http://theroasterspack.com/collections/buy-canadian-coffee" title="Buy Canadian Coffee from The Roasters Pack">coffee store</a>!</p>
    <h3><i class="fa fa-chevron-right"></i> How do you choose which coffees to put in The Roasters Pack?</h3>
    <p>We evaluate a tonne of coffees every month for a variety of factors – the body, acidity, finish, complexity, aftertaste and tasting notes. We want you to be able to discover the best coffees available and we sift through the masses to discover the ones that are incredibly exceptional.</p>
  </div>
  <div class="seven columns offset-by-one omega">
    <h3><i class="fa fa-chevron-right"></i> How much coffee do I receive?</h3>
    <p>You will receive four ounces of three different roasts, to equal a total of 12 ounces. This makes over 35 cups of coffee!</p>
    <h3><i class="fa fa-chevron-right"></i> How large is the package? Does it fit in my mailbox?</h3>
    <p>The package is 9 inches by 6.75 inches by 2.75 inches. If you’re Canadian, you’ll most likely receive a key for additional parcel compartments at the bottom of the community mailbox.</p>
    <h3><i class="fa fa-chevron-right"></i> Where do you ship to?</h3>
    <p>Currently we ship to Canada &amp; USA. The shipping and tax is included, so the price you see is what you get!</p>
    <h3><i class="fa fa-chevron-right"></i> How fresh is the coffee?</h3>
    <p>When we ship it out, it will be 1 to 7 days off of roast date. Our goal is to send you the freshest coffee as possible!</p>
  </div>
</div>