<div id="selector">
	<div class="section size ten columns alpha omega">
		<div class="subscription-button ten columns alpha omega" data-size="12oz">
			<h3>3 x 4<span class="oz">oz</span> - 30 Cups</h3>
			<p>Starting at $26.95 / Month</p>
		</div>
		<div class="subscription-button five columns alpha" data-size="24oz">
			<h3>3 x 8<span class="oz">oz</span> - 60 Cups</h3>
			<p>Starting at $46.95 / Month</p>
		</div>
		<div class="subscription-button five columns omega" data-size="36oz">
			<h3>3 x 12<span class="oz">oz</span> - 90 Cups</h3>
			<p>Starting at $66.95 / Month</p>
		</div>
	</div>
	<div class="section period ten columns alpha omega" style="display:none;">
		<div class="subscription-button five columns alpha" data-period="One">
			<h3>One Issue</h3>
			<p class="price-1"></p>
		</div>
		<div class="subscription-button five columns omega" data-period="Three">
			<h3>Three Issues</h3>
			<p class="price-2"></p>
		</div>
		<div class="subscription-button five columns alpha" data-period="Six">
			<h3>Six Issues</h3>
			<p class="price-3"></p>
		</div>
		<div class="subscription-button five columns omega" data-period="Twelve">
			<h3>Twelve Issues</h3>
			<p class="price-4"></p>
		</div>
		<div class="confirm-restart"><i class="fa fa-refresh"></i> Change Selection</div>
	</div>
	<div class="section grind ten columns alpha omega" style="display:none;">
		<div class="subscription-button ten columns alpha omega whole-bean" data-grind="Whole Bean">
			<h3>Whole Bean</h3>
			<p>Recommended</p>
		</div>
		<div class="subscription-button five columns alpha coarse" data-grind="Coarse">
			<h3>Coarse</h3>
			<p>French Press</p>
		</div>
		<div class="subscription-button five columns omega medium" data-grind="Medium">
			<h3>Medium</h3>
			<p>Pourover</p>
		</div>
		<div class="subscription-button five columns alpha fine" data-grind="Fine">
			<h3>Fine</h3>
			<p>Aeropress</p>
		</div>
		<div class="subscription-button five columns omega xfine" data-grind="Extra Fine">
			<h3>Extra Fine</h3>
			<p>Espresso Machine</p>
		</div>
		<div class="confirm-restart"><i class="fa fa-refresh"></i> Change Selection</div>
	</div>
	<div class="section offer-box ten columns alpha omega" style="display:none;">
		<h4>You&apos;ve Selected:</h4>
		<p><span class="size"></span> of <span class="grind"></span> coffee delivered every month for <span class="period"></span> month(s).</p>
		<h3 class="confirm-yes subscription-button">Add to Cart</h3>
		<div class="confirm-restart"><i class="fa fa-refresh"></i> Change Selection</div>
	</div>
</div>