<h2>Some Fans of Ours</h2>
<div class="eight columns alpha">
	<blockquote class="twitter-tweet" lang="en">
		My first shipment from <a href="https://twitter.com/TheRoastersPack">@TheRoastersPack</a> included coffee cherry tea, which is pretty neat. <a href="http://t.co/QX42kX0eWD">pic.twitter.com/QX42kX0eWD</a>
		<br>
		— Dave Shea (@mezzoblue) <a href="https://twitter.com/mezzoblue/status/499261310605873152">August 12, 2014</a>
	</blockquote>
	<script async="" src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
<div class="eight columns omega">
	<blockquote class="twitter-tweet" lang="en">
		Hand-grinding beans in the morning is the most satisfying feeling. Then that first whiff of the grounds after, HO LAWDY! <a href="https://twitter.com/TheRoastersPack">@TheRoastersPack</a>
		<br>
		— Alex Mortimer (@Alex_Mortimer) <a href="https://twitter.com/Alex_Mortimer/status/490891867202928641">July 20, 2014</a>
	</blockquote>
	<script async="" src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
	<blockquote class="twitter-tweet" lang="en">
		Like a kid in a candy store... Got my <a href="https://twitter.com/TheRoastersPack">@theroasterspack</a> July subscription box today - such delicious… <a href="http://t.co/YH4hRvjQa4">http://t.co/YH4hRvjQa4</a>
		<br>
		— Amanda Dwyer (@MandaPantsD) <a href="https://twitter.com/MandaPantsD/status/485473566847422466">July 5, 2014</a>
	</blockquote>
	<script async="" src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>