<div class="period ten columns alpha">
  <div class="five columns alpha one-month">
    <div class="subscription-button">
      <h3>One Issue</h3>
      <p>$29.95 / Month</p>
    </div>
  </div>
  <div class="five columns omega three-month">
    <div class="subscription-button">
      <h3>Three Issues</h3>
      <p>$28.95 / Month</p>
    </div>
  </div>
  <div class="five columns alpha six-month">
    <div class="subscription-button">
      <h3>Six Issues</h3>
      <p>$27.95 / Month</p>
    </div>
  </div>
  <div class="five columns omega twelve-month">
    <div class="subscription-button">
      <h3>Twelve Issues</h3>
      <p>$26.95 / Month</p>
    </div>
  </div>
</div>
<div class="grind ten columns alpha">
  <div class="ten columns alpha omega">
    <div class="subscription-button whole-bean">
      <h3>Whole Bean</h3>
      <p>Recommended</p>
    </div>
  </div>
  <div class="five columns alpha">
    <div class="subscription-button coarse">
      <h3>Coarse Grind</h3>
      <p>French Press</p>
    </div>
  </div>
  <div class="five columns omega">
    <div class="subscription-button medium">
      <h3>Medium Grind</h3>
      <p>Drip Filters</p>
    </div>
  </div>
  <div class="five columns alpha">
    <div class="subscription-button fine">
      <h3>Fine Grind</h3>
      <p>Aeropress</p>
    </div>
  </div>
  <div class="five columns omega">
    <div class="subscription-button xfine">
      <h3>Extra Fine Grind</h3>
      <p>Espresso</p>
    </div>
  </div>
</div>
<div class="ten columns alpha offer-box">
  <div class="offer"><button class="subscription-button" id="add-to-cart">Add to Cart</button></div>
</div>