<div class="outside-box">
    <div class="this-month row">
        <h3 class="this-month">Featured In January 2015</h3>
        <div class="one-third column clearfix alpha">
          <a href="/pages/detour"><img class="this-month-img" src="https://cdn.shopify.com/s/files/1/0330/7333/files/Jan-Detour-Front-Transparent-PNG-IMG_3106.png?6416"></a>
          <a href="/pages/detour"><h3 class="coffee-title">Detour Coffee - San Sebastian</h3></a>
            <p id="quote">"This coffee tastes so complete - it has great balance between a grape acidity and flavour, maple-like sweetness and this creamy body. Year after year it's so impressive and this crop is no different."</p>
            <p class="this-month-roaster">- Geoff Woodley,</p>
            <p class="this-month-roaster">Green Buyer &amp; Lead Roaster</p>
            <div class="flavour-swatches swatch-row clearfix">
                <div class="swatch maple-syrup"><p class="swatch">Maple Syrup</p></div>
                <div class="swatch grape"><p class="swatch">Grape</p></div>
                <div class="swatch cream"><p class="swatch">Cream</p></div>
            </div>
        </div>
        <div class="one-third column clearfix">
          <a href="/pages/monigram"><img class="this-month-img" src="https://cdn.shopify.com/s/files/1/0330/7333/files/Monigram-Golden-Arrow-Espresso-Angled-back-IMG_0561.png?6416"></a>
            <a href="/pages/monigram"><h3 class="coffee-title">Monigram - Honeydripper</h3></a>
            <p id="quote">"Honey and fruit - age and cooling effect black currant to red apple. Chocolate on the finish. Great balance in a medium body. A great black coffee, but serving well with some dairy too. Paired with a butter croissant it shines."</p>
            <p class="this-month-roaster">- Graham Braun</p>
            <p class="this-month-roaster">Lead Roaster &amp; Co-Owner</p>
            <div class="flavour-swatches swatch-row clearfix">
                <div class="swatch honey"><p class="swatch">Honey</p></div>
                <div class="swatch black-currant"><p class="swatch">Black Currant</p></div>
                <div class="swatch chocolate"><p class="swatch">Chocolate</p></div>
            </div>
        </div>
        <div class="one-third column clearfix omega">
            <a href="/pages/49th-parallel"><img class="this-month-img" src="https://cdn.shopify.com/s/files/1/0330/7333/files/Jan-49thFront-Transparent-PNG-IMG_3106.png?6416"></a>
            <a href="/pages/49th-parallel"><h3 class="coffee-title">49th Parallel - Holiday Celebration Blend</h3></a>
            <p id="quote">"We are enjoying its subtle orange peel, rosehip, and mixed nut flavour profile, as well as its sweetness, and its creamy texture."</p>
            <p class="this-month-roaster">- Laura Perry</p>
            <p class="this-month-roaster">Owner / Fun Coordinator</p>
            <div class="flavour-swatches swatch-row clearfix">
                <div class="swatch hazelnut"><p class="swatch">Hazelnut</p></div>
                <div class="swatch caramel"><p class="swatch">Caramel</p></div>
                <div class="swatch orange-peel"><p class="swatch">Orange Peel</p></div>
            </div>
        </div>
    </div>
  <div class="row">
	<h3 class="center"><a href="http://theroasterspack.com/pages/subscribe-to-the-roasters-pack">Get Started for $26.95 / Month</a></h3>
	<p class="center"><a class="button" href="http://theroasterspack.com/pages/subscribe-to-the-roasters-pack" title="Subscribe">Subscribe</a></p>  
</div>
</div>
