function counterBar(complete,total){
  
  var fill = '';
  
  for (i = 0; i < complete; i++) {
    fill += '<div class="cell done"></div>';
  }
  
  document.getElementById('bingo-bar').innerHTML = fill;
  

function cellWidthPercentage(x){
  var percentage = 90 / x;
  return percentage;
}

function cellMarginPercentage(x){
  var percentage = 5 / ( x + 1 );
  return percentage;
}

  
$(".cell").css({
  width: cellWidthPercentage(total) + "%",
  margin: cellMarginPercentage(total) + "%"
}); 
  
}
