<div class="container">
	<div class="sixteen columns">
		<div class="six columns alpha">
			<div id="roaster_logo" class="marginbottom16"><img alt="de Mello Palheta" src="http://cdn.shopify.com/s/files/1/0330/7333/files/logo_BW_300px_medium.png?3639" /></div>
			<h3 class="bordertop">Location:</h3>
			<p>Toronto, ON</p>
			<h3 class="bordertop">Website:</h3>
			<p><a href="www.hellodemello.com/" target="_blank" title="de Mello Palheta Website">www.hellodemello.com/</a></p>
			<h3 class="bordertop">Featured in March 2014</h3>
			<p style="text-align: center;"><a href="http://theroasterspack.com/collections/buy-canadian-coffee/products/buy-carvalho-coffee-250-grams" title="Carvalho Brazilian Medium Dark"> <img src="//cdn.shopify.com/s/files/1/0330/7333/products/carvalho_coffee_-_front_-_IMG_9881_bg_grey_white_medium.jpg?v=1391464553" alt="Carvalho - Brazillian Medium Dark" /> </a></p>
			<h4 style="text-align: center;"><a href="http://theroasterspack.com/collections/buy-canadian-coffee/products/buy-carvalho-coffee-250-grams" title="Carvalho Brazilian Medium Dark">Butterfly Kiss</a></h4>
			<p class="taste-profile">"This roast gives us lower acidity and brings up the chocolaty and nutty flavours."</p>
			<div class="flavour-swatches swatch-row">
				<p class="swatch milk-chocolate"> </p>
				<p class="swatch strawberry"> </p>
				<p class="swatch passionfruit"> </p>
			</div>
			<h3>Also In April 2014</h3>
			<ul>
				<li><a href="/pages/bean-north">Cherry Hill Coffee Roasters</a></li>
				<li><a href="/pages/diesel-house">Monigram Coffee Roasters</a></li>
			</ul>
		</div>
		<div class="nine columns offset-by-one omega">
			<p><span style="line-height: 1.2;">"We were very lucky, I have to say, when we were opening the business" says Felix Cha, referring to the warm welcome uptown Toronto has given him and his brother Won's cafe.</span></p>
			<p>It's soon clear that it was more than just good fortune that has made their reputation. It's the coffee. What sets this cafe apart is their very deliberate approach to roasting and drinking coffee.</p>
			<h3>Headaches and Glory</h3>
			<p>"There are a lot of headaches - the more you know about coffee." explains Felix, "The weather, the roasting, the barista, the dialing.". He stays on top of it as best as he can. Training for coffee cupping competitions is a routine. Dozens of cups are being tasted each day because there is no way of telling what's going to come up in competition. He looks for more than just flavour. Because coffee has so many variables in it's taste, competitors need to look for more subtle differences in the coffee, such as acidity, using different brewing methods</p>
			<h3>The Roast</h3>
			<blockquote>
				<p>"I don't think there are answers... You need to look for the potential in the bean."</p>
			</blockquote>
			<p>We're thrilled at The Roasters Pack to bring you Butterfly Kiss. This roast as Felix puts it, "It's like ticking with your eyelash. It's tickling, charming and sweet." It took the brothers four months to come up with this one. "We decided to use beans from Africa which are sweet and fruity." This Yirgacheffe coffee (from the region of Ethiopia with the same name) is 60% Kochere natural process and 40% Kochere washed. </p>
			<p>The result is a sophisticated flavour profile. "Chocolate covered strawberry washed with winey passion fruits."</p>
		</div>
	</div>
</div>