<div class="container">
	<div class="sixteen columns">
		<div class="six columns alpha">
			<div id="roaster_logo" class="marginbottom16">
				<img src="http://cdn.shopify.com/s/files/1/0330/7333/files/img_mcr_logo.png?3699" />
			</div>
			<h3 class="bordertop">Location:</h3>
			<p>Kelowna, BC</p>
			<h3 class="bordertop">Website:</h3>
			<p><a href="http://www.cherryhillcoffee.com/" target="_blank" title="Cherry Hill Coffee">www.cherryhillcoffee.ca/</a></p>
			<h3 class="bordertop">Featured in April 2014</h3>
			<p style="text-align: center;">
				<a href="http://theroasterspack.com/collections/buy-canadian-coffee/products/buy-carvalho-coffee-250-grams" title="Cherry Hill Okanagan Gold">
					<img src="//cdn.shopify.com/s/files/1/0330/7333/products/carvalho_coffee_-_front_-_IMG_9881_bg_grey_white_medium.jpg?v=1391464553" alt="Cherry Hill Okanagan Valley" />
				</a>
			</p>
			<h4 style="text-align: center;">
				<a href="http://theroasterspack.com/collections/buy-canadian-coffee/products/buy-carvalho-coffee-250-grams" title="Okanagan Gold">Okanagan Gold
				</a>
			</h4>
			<p class="taste-profile">"This roast gives us lower acidity and brings up the chocolaty and nutty flavours."
			</p>
			<div class="flavour-swatches swatch-row">
				<p class="swatch milk-chocolate"> </p>
				<p class="swatch almond"> </p>
				<p class="swatch tangerine"> </p>
			</div>
			<h3>Also In April 2014</h3>
			<ul>
				<li><a href="/pages/bean-north">de Mello Palheta</a></li>
				<li><a href="/pages/diesel-house">Monigram Coffee Roasters</a></li>
			</ul>
		</div>
		<div class="nine columns offset-by-one omega">
			<p>In 1995 Don &amp; Francis Bigelow decided to leave their hometown of Winnipeg and come to the laid back community of Kelowna. The Okanagan valley was the perfect place for them to retire. Don being a talented coffee roaster for a large coffee producer back in Winnipeg decided to continue his passion of roasting coffee, but being his retirement he was going to do it his way.</p>
			<p>Treating coffee like a fresh ingredient, ensuring that it was sourced responsibly and roasting to order were the new values of operating at for the Bigelows at Cherry Hill. Being in an area that has more wineries and breweries per capita than any other place in B.C, the community was all for the appreciation shown to the beverage and was quite receptive to the new philosophy at Cherry Hill.</p>
			<p>In 2006, the torch was passed to his children David &amp; Jeff – two very knowledgeable coffee lovers who both worked at the roaster in Kelowna (as well as the one in Winnipeg).</p>
			<p>James Calder, who manages Quality Control at Cherry Hill, explains “Everything is done with vintage Victoria roasters from the 1950s. Our roasting process is definitely more old school, it’s roasting by sight and sound and smell.”</p>
			<p>Although it may sound a bit challenging, he explains “that’s part of the fun”, which seems to be quite in line with the ideology of this organization – having fun while constantly looking to improve.</p>
			<p>Besides using the fickle vintage roasters, another way this ideology is shown is through what they call their limited offering. It’s their way of sharing some of the more unique flavours from smaller farmers that only produce a micro lot amounts. One example of this is an Ethiopian Yirgacheffe Banko Dhadhato that hits you with strong blueberry flavours. Another is a Honduras coffee named after the female farmer who manages production on an all-woman cooperative, Luz Zelaya.</p>
			<p>Their preferred offering is the main line off coffee they offer, with the tried and tested roasts that are crafted specifically to please their customers. The Okanagan Gold is part of this lineup and Calder describes it as “A well-rounded blend coupled with a creamy, smooth body starts off every day on the right foot.” It has a creamy body, Milk Chocolate and Toffee notes in the cup with a honey sweetness.</p>	
		</div>