<div class="container">
	<div class="sixteen columns page">

		<div class="sixteen columns  alpha omega linedbackground spacer24 marginbottom16"></div>
		<div class="sixteen columns alpha omega marginbottom24">
			<div class="nine columns alpha">
				<h1 style="font-size: 1.6em; margin: 0px auto 9px;">Subscribe to The Roasters Pack</h1>
				<p>Next Mailout April 4th, 2016!</p>
			</div>
			<div class="seven columns omega">
				<ul class="social-buttons">
					<li><a class="facebook-button" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http://theroasterspack.com/pages/subscribe-to-the-roasters-pack"><i class="fa fa-facebook"></i> Facebook</a></li>
					<li><a class="twitter-button" target="_blank" href="https://twitter.com/intent/tweet?text=Discover%20Three%20New%20Coffees%20Every%20Month.%20Subscribe%20to%20The%20Roasters%20Pack&amp;url=http://bit.ly/1xmiXOl"><i class="fa fa-twitter"></i> Twitter</a></li>
					<li><a class="google-plus-button" target="_blank" href="https://plus.google.com/share?url=http://theroasterspack.com/pages/subscribe-to-the-roasters-pack"><i class="fa fa-google-plus"></i> Google+</a></li>
				</ul>
			</div>
		</div>
		<div class="sixteen columns alpha omega marginbottom16 in-every-issue">
			<div class="eight columns offset-by-one alpha" style="text-align: center;"><img src="https://cdn.shopify.com/s/files/1/0330/7333/files/the-roasters-pack-photoshop_06.gif?6218" alt="Three Four Ounce Bags of Coffee" />
				<h5><strong>3 Bags of Fresh Coffee Beans</strong>, Roasted in Independent Canadian Roasteries</h5>
			</div>
			<div class="seven columns omega" style="text-align: center;"><img width="348px" src="https://cdn.shopify.com/s/files/1/0330/7333/files/the-roasters-pack-photoshop_03.jpg?6222" alt="Really useful tasting notes and special coffee extras" />
				<h5>Really Useful <strong>Tasting Notes &amp; Special Extras</strong>? Yeah, we do those.</h5>
			</div>
		</div>

		{% include 'selector-dev' %}		

		<div class="six columns omega">
			<div class="timer timerbox" style="margin: 0;">
				<div class="timer-desc" style="text-align: center;">
					<h2 class="center next-delivery"><i class="fa fa-clock-o"></i> Next Issue Cut-Off:</h2>
					<p class="d-h-m" style="display: inline-block; width: 80px;">Days</p>
					<p class="d-h-m" style="display: inline-block; width: 80px;">Hours</p>
					<p class="d-h-m" style="display: inline-block; width: 80px;">Minutes</p>
				</div>
				<div id="timer" style="text-align: center;"></div>
			</div>
		</div>
		<div class="sixteen columns">
			<hr />
			<h2>Some Fans of Ours</h2>
			<div class="eight columns alpha">
				<blockquote class="twitter-tweet" lang="en">
					<p>My first shipment from <a href="https://twitter.com/TheRoastersPack">@TheRoastersPack</a> included coffee cherry tea, which is pretty neat. <a href="http://t.co/QX42kX0eWD">pic.twitter.com/QX42kX0eWD</a></p>
					— Dave Shea (@mezzoblue) <a href="https://twitter.com/mezzoblue/status/499261310605873152">August 12, 2014</a></blockquote>
					<script async="" src="//platform.twitter.com/widgets.js" charset="utf-8"></script></div>
					<div class="eight columns omega">
						<blockquote class="twitter-tweet" lang="en">
							<p>Hand-grinding beans in the morning is the most satisfying feeling. Then that first whiff of the grounds after, HO LAWDY! <a href="https://twitter.com/TheRoastersPack">@TheRoastersPack</a></p>
							— Alex Mortimer (@Alex_Mortimer) <a href="https://twitter.com/Alex_Mortimer/status/490891867202928641">July 20, 2014</a></blockquote>
							<script async="" src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
							<blockquote class="twitter-tweet" lang="en">
								<p>Like a kid in a candy store... Got my <a href="https://twitter.com/TheRoastersPack">@theroasterspack</a> July subscription box today - such delicious… <a href="http://t.co/YH4hRvjQa4">http://t.co/YH4hRvjQa4</a></p>
								— Amanda Dwyer (@MandaPantsD) <a href="https://twitter.com/MandaPantsD/status/485473566847422466">July 5, 2014</a></blockquote>
								<script async="" src="//platform.twitter.com/widgets.js" charset="utf-8"></script></div>
							</div>
							<div class="sixteen columns">
								<div class="linedbackground spacer48 marginbottom16"></div>
								<h2>Frequently Asked Questions</h2>
								<div class="seven columns alpha">
									<h3><i class="fa fa-chevron-right"></i> When does this ship out and when does it arrive?</h3>
									<p>We have a new issue of The Roasters Pack for every month. We mail out on the first Monday of every month, which in most places in Canada, would arrive that same week!</p>
									<h3><i class="fa fa-chevron-right"></i> Is this a recurring subscription? If I decide I want to cancel, how do I do so?</h3>
									<p>The Roasters Pack is a recurring subscription. We make it easy to cancel if you wish - we send you an email after you sign up with a link to manage your account. Also, we send out a reminder email 3 days before a recurring charge takes place so that you won't forget about your subscription!</p>
									<h3><i class="fa fa-chevron-right"></i> Which coffees will I receive?</h3>
									<p>You will receive 3 delicious coffees from 3 different roasters. The coffees are a surprise so your palate will be taken on a coffee adventure with each issue. For examples of the coffee that has been featured previously, click <a href="http://instagram.com/p/p_sFNmSIgH/" target="_blank" title="Instagram July Issue of The Roasters Pack">here</a> or <a href="http://instagram.com/p/o0_Qa2SIg1" target="_blank" title="Instagram June Issue of The Roasters Pack">here</a> or check out our <a href="http://theroasterspack.com/collections/buy-canadian-coffee" title="Buy Canadian Coffee from The Roasters Pack">coffee store</a>!</p>
									<h3><i class="fa fa-chevron-right"></i> How fresh is the coffee?</h3>
									<p>When we ship it out, it will be 1 to 7 days off of roast date. Our goal is to send you the freshest coffee as possible!</p>
								</div>
								<div class="seven columns offset-by-one omega">
									<h3><i class="fa fa-chevron-right"></i> How much coffee do I receive?</h3>
									<p>You will receive four ounces of three different roasts, to equal a total of 12 ounces. This makes over 35 cups of coffee!</p>
									<h3><i class="fa fa-chevron-right"></i> How do you choose which coffees to put in The Roasters Pack?</h3>
									<p>We evaluate a tonne of coffees every month for a variety of factors – the body, acidity, finish, complexity, aftertaste and tasting notes. We want you to be able to discover the best coffees available and we sift through the masses to discover the ones that are incredibly exceptional.</p>
									<h3><i class="fa fa-chevron-right"></i> How large is the package? Does it fit in my mailbox?</h3>
									<p>The package is 9 inches by 7 inches by 4 inches. If you’re Canadian, you’ll most likely receive a key for additional parcel compartments at the bottom of the community mailbox.</p>
									<h3><i class="fa fa-chevron-right"></i> Where do you ship to?</h3>
									<p>Currently we ship to Canada &amp; USA. The shipping and tax is included, so the price you see is what you get!</p>
								</div>
							</div>
						</div>
					</div>

